layout {
    pane size="40%" {
    }
    pane size="60%" split_direction="vertical" {
        pane command="cargo" {
            args "run" "--bin" "rcr-api"
        }
        pane command="cargo" {
            args "run" "--bin" "rcr-runner"
        }
        pane command="trunk" {
            args "serve"
            cwd "crates/rcr-ui"
        }
    }
}